body, html {
    padding: 0;
    margin: 0;
}

body {
    max-height: 100vh;
    height: 100%;
    background-image: url(../img/Background_auto_x2\ \(1\).jpg);
    background-repeat: no-repeat; 
    // background-size: cover; 


    .scaling {
        width: 100%;
    }

    main {
        display: grid;
        grid-template-columns: auto 1110px auto;

    }

}



